<div class="hero bg-base-200 p-24">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold mb-6">Welcome</h1>
      <%= button_to 'Login', '/auth/auth0', method: :post, data: { turbo: false }, class: "btn btn-primary" %>
    </div>
  </div>
</div>
