<h1 class="text-xl font-semibold" >New <%= @record.class.model_name.human.titleize %></h1>

<%= form_for [:admin, @record], method: :post do |f| %>
  <%= render partial: "form", locals: { f: f } %>

  <div class="flex justify-end">
    <%= f.submit "Save", class: "btn btn-primary mt-4" %>
  </div>
<% end %>
